.explore-namespace
    margin-left 1.7%
    margin-right 1.7%
    min-height 70%

    > .topic-view
        margin-top 3% !important
        width 80%
        margin auto
        opacity 0.9
        text-align center
            
        span > span > .ui.green.label.activeTopic
            background #394894 !important
            font-size 20px

        span > span > .ui.green.label
            padding 10px
            margin 10px
            font-size 15px
            cursor pointer

    > div.ui.stackable.two.column.grid > div > div > div > div > div
        > i.fa.fa-child
            color #3b83c0
        > i.fa.fa-usd
            color #5bbd72
        > i.fa.fa-lock
            color #d95c5c
        > .type
            font-family arial
        
        > i.fa.fa-child, > i.fa.fa-usd, > i.fa.fa-lock, > .type
            margin-left 6px