.explore-namespace
    min-height 400px
    
    > .ui.piled.segment
        margin-top 3% !important
        width 80%
        margin auto
        opacity 0.9
        min-height 300px

        > .topic-view
            text-align center
            margin auto
            
            span > span > .ui.green.label.activeTopic
                background #394894 !important
                font-size 20px

            span > span > .ui.green.label
                padding 10px
                margin 10px
                font-size 15px
                cursor pointer
        
        > .learning-info-view
            width 80%
            margin auto
            
            > span > div > div > h3
                text-decoration underline

            > span > div > div > span > div 
                > img.opportunity-img, img.resource-img
                    height 150px
                    width 150px
                    float left

                > h2.opportunity-title, h2.resource-title
                    float right
                    font-style italic
                    margin-top 1px