body
  background-color white
  background url('/images/bridge.png') no-repeat center center fixed
  -webkit-background-size cover
  -moz-background-size cover
  -o-background-size cover
  background-size cover

.hide
  display none

.clear
  clear both

.ui
  
  font-color white
  
  > .navbar
    padding 15px 0px 5px 40px
    border-style none
    box-shadow 0px 0px 0px 0px rgba(39, 41, 43, 0.15), 0px 0px 0px 0 rgba(0, 0, 0, 0.05)
  
  > .message
    background none
    background-color transparent
    border none
    box-shadow none

.main-icon
  color #00b5ad
  font-size 50px