<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<!-- Site Properities -->
	<title>snippet</title>
	<link rel="stylesheet" type="text/css" href="../static/node_modules/semantic-ui/dist/semantic.css">
	<link rel="stylesheet" type="text/css" href="../static/styles/snippet.css">
	<!-- Used with Tab History !-->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
	<script src="../dist/semantic.js"></script>
	<!-- Facebook Open Graph Tags !-->
	<meta property="og:title" content="#{og_title}" />
	<meta property="og:description" content="#{og_description}" />
	<meta property="og:url" content="#{og_url}" />
	<meta property="og:image" content="#{og_image}" />
	</head>
<body>
	<nav class="ui borderless menu navbar">
	<div class="item">
	<a href="#{home_url}">
	<img class="tiny image" src="resources/images/learnpgh_logo.png">
	</a>
	</div>
	<div class="item">
	<h1>learn.pgh</h1>
	</div>
	<div id="navmenu" class="right menu">
	<a href="#{explore_url}">
	<div class="ui basic button">
	Explore</div>
	</a>
	<a href="#{submit_url}">
	<div class="ui basic button">
	Submit</div>
	</a>
	<a href="https://medium.com/the-saxifrage-school/">
	<div class="ui basic button">
	Blog</div>
	</a>
	</div>
	</nav>

<br>
<br><br><br><br><br><br>

<div class="ui padded grid">
<div class="sixteen wide column">	
  <div class="ui two doubling cards">
	<!--CARD ONE-->
	<div class="card">
	  <div class="content">
	    <div class="header"><img class="ui huge floated image" src="../static/images/learnpgh-logo.png"><a href="http://www.amazon.com/Birth-Tragedy-Spirit-Penguin-Classics/dp/0140433392/ref=sr_1_1?s=books&ie=UTF8&qid=1423236736&sr=1-1&keywords=birth+of+tragedy">The Birth of Tragedy</a></div>
	    <div class="meta">
	      <span class="right floated time">c. 1872</span>
	      <span class="category">by Friedrich Nietsczhe</span>
	    </div>
	    <div class="description">
	      Nietzsche found in classical Athenian tragedy an art form that transcended the pessimism and nihilism of a fundamentally meaningless world. The Greek spectators, by looking into the abyss of human suffering and affirming it, passionately and joyously affirmed the meaning of their own existence.
	    </div>
	  </div>
	  <div class="extra content">
	  	<div class="left floated">
	  		<p>Added by <a href="http://www.learnpgh.org/user/timothyfcook">Timothy Cook</a></p>
	  	</div>
	    <div class="right floated">
	      <i class="blue child icon"></i><i class="green dollar icon"></i><i class="red privacy icon"></i> Book
	    </div>
	  </div>
	</div>
	<!--CARD TWO-->
	<div class="card">

	  <div class="content">
	  
	    <div class="header"><img class="ui huge floated image" src="../static/images/learnpgh-logo.png"><a href="http://www.learnpgh.org/events/nietzsche-and-the-tragic-form-3-12-2015">Nietzsche and the Tragic Form</a></div>
	    <div class="meta">
	      <span class="right floated time">3/12/2015</span>
	      <span class="category">taught by Tyke Nunez</span>
	    </div>
	    <div class="description">
	      In this course we will read and respond to Nietzsche's first primary work, "The Birth of Tragedy". This section should have a character limit of some kind. In this course we will read and respond to Nietzsche's first primary work.
	    </div>
	  </div>
	  <div class="extra content">
	  	<div class="left floated">
	  		<a href="http://www.pghphilosophy.org"><p>Pittsburgh Philosophy Society</p></a>
	  	</div>
	    <div class="right floated">
	      <i class="blue child icon"></i><i class="green dollar icon"></i><i class="red privacy icon"></i> Course
	    </div>
	  </div>
	</div>

</body>
</html>