.ui.grid
  .two.wide.column
    #footer.ui.left.aligned.segment
      a.borderless.messsage(href='https://www.github.com/entelekialearning/website')
        i.fa.fa-github.main-icon
  .twelve.wide.column
    #footer.ui.center.aligned.segment
      p#footer-text "We are all schoolmasters and our schoolhouse is the universe."
  .two.wide.column
    #footer.ui.right.aligned.segment
      a(href='#{twitUrl}')
        i.fa.fa-twitter.main-icon
script(src='app.min.js')