.ui.navbar {
	padding: 15px 0px 5px 40px;
	border-style: none;
  box-shadow: 0px 0px 0px 0px rgba(39, 41, 43, 0.15), 0px 0px 0px 0 rgba(0, 0, 0, 0.05);
}

h1 {
	font-size: 3em;
}

#bridge {
	background-image: url("resources/images/bridge.png");
	padding-bottom: 620px;
}

#navmenu {
	padding: 50px 30px 0px 0px;
}

.ui.message {
	background: none;
	background-color: transparent;
	border:none;
	box-shadow: none;
}

#footer {
	background: none;
	background-color: transparent;
	border:none;
	box-shadow: none;
	padding-left: 50px;
	padding-right: 50px;
}

#footer-text {
	text-align: center;
	font-size: 22px;
	color: gray;
}

